<!DOCTYPE html>
<html>
  <head>
    <title>Employees</title>
  </head>
  <body>
    <div >
      <mat-grid-list cols="3" > 
        <mat-grid-tile *ngFor="let employees of employees">

          <mat-card class="example-card">
            <img mat-card-image src={{employees.empImage}} alt={{employees.empName}}>
            <mat-card-title>{{employees.empName}} {{employees.empSurname}}</mat-card-title>
            <mat-card-subtitle>
              {{employees.empPosition}} , {{employees.empAge}} years
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-raised-button color="primary">Update</button>
              <button mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </body>
</html>