<!DOCTYPE html>
<html>
  <head>
    <title>Employees</title>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Team C</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="#" >Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <h3 style="text-align:center">My Employees</h3>

    <div class="container" >
      <a mat-raised-button href="/employee" style="margin-bottom: 50px">Add Employee</a>
      <mat-grid-list cols="3" > 
        <mat-grid-tile *ngFor="let employees of employees">

          <mat-card class="example-card">
            <img mat-card-image src={{employees.empImage}} alt={{employees.empName}}>
            <mat-card-title>{{employees.empName}} {{employees.empSurname}}</mat-card-title>
            <mat-card-subtitle>
              {{employees.empPosition}} , {{employees.empAge}} years
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-raised-button color="primary">Update</button>
              <button mat-raised-button color="warn">Delete</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </body>
</html>